
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trang chủ AHAHA</title>
    <link rel="stylesheet" href="~/Content/css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/Content/fontawesome-free-6.4.0-web/css/all.min.css">
    <style>
        .main {
            color: black;
        }   
    </style>
</head>
<body>
    <div class="main">
        <div class="main__header">
            <div class="main__header-logo">
                <img src="~/Content/img/logo.png" alt="" class="main__header-logo-img">
            </div>

            <div class="main__header-navbar">
                <ul class="main__header-navbar-list">
                    <li class="main__header-navbar-item">
                        Dịch vụ
                        <ul class="main__header-navbar-sub-list">
                            <li class="main__header-navbar-sub-item">Dịch vụ giao hàng</li>
                            <li class="main__header-navbar-sub-item">Dịch vụ xe tải</li>
                        </ul>
                        <i class="main__header-navbar-icon fa-solid fa-chevron-down"></i>
                    </li>
                    <li class="main__header-navbar-item">
                        Khách hàng
                        <ul class="main__header-navbar-sub-list">
                            <li class="main__header-navbar-sub-item">Khách hàng cá nhân</li>
                            <li class="main__header-navbar-sub-item">Cộng đồng khách hàng</li>
                        </ul>
                        <i class="main__header-navbar-icon fa-solid fa-chevron-down"></i>
                    </li>
                    <li class="main__header-navbar-item">
                        Tài xế
                        <ul class="main__header-navbar-sub-list">
                            <li class="main__header-navbar-sub-item">Đăng kí tài xế mới</li>
                            <li class="main__header-navbar-sub-item">Cộng đồng tài xế</li>
                        </ul>
                        <i class="main__header-navbar-icon fa-solid fa-chevron-down"></i>
                    </li>
                    <li class="main__header-navbar-item">
                        Tuyển dụng
                        <ul class="main__header-navbar-sub-list">
                            <li class="main__header-navbar-sub-item">Về chúng tôi</li>
                            <li class="main__header-navbar-sub-item">Câu chuyện về Ahaha</li>
                        </ul>
                        <i class="main__header-navbar-icon fa-solid fa-chevron-down"></i>
                    </li>
                    <li class="main__header-navbar-item main__header-navbar-btn">
                        <a href="@Url.Action("Index","NewOrder")">Giao hàng ngay</a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="main__body">
            <div class="main__body-target">
                <div class="main__body-img">
                    <img src="~/Content/img/anh1.png" alt="">
                </div>
                <div class="main__body-text">
                    Giao hàng nhanh, đảm bảo và giá tốt với dịch vụ phù hợp được tối ưu cho bạn.
                </div>
            </div>

            <div class="main__body-target">
                <div class="main__body-img">
                    <img src="~/Content/img/anh2.png" alt="">
                </div>
                <div class="main__body-text">
                    Đa dạng phương tiện vận chuyển dành cho các mặt hàng lớn và cồng kềnh.
                </div>
            </div>

            <div class="main__body-target">
                <div class="main__body-img">
                    <img src="~/Content/img/anh3.png" alt="">
                </div>
                <div class="main__body-text">
                    Cung cấp nguồn hàng sỉ nhanh chóng và bảo đảm với mức giá vô cùng cạnh tranh.
                </div>
            </div>
        </div>

        <div class="main__footer">
            <div class="main__footer-text">
                THẬT TUYỆT KHI ĐƯỢC ĐỒNG HÀNH CÙNG BẠN!
            </div>
        </div>
    </div>
</body>
</html>