* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    font-family: 'Roboto', sans-serif;
    height: 100%;
}

.background {
    position: relative;
}

.background__img {
    width: 100%;
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0.4;
    background-color: #307069;
}

.header {
    width: 100%;
    position: absolute;
    top: 70px;
    left: 50%;
    transform: translateX(-50%);
}

.header__heading {
    text-align: center;
    font-size: 70px;
    color: #fff;
    font-weight: 400;
}

.login-btn {
    position: absolute;
    top: 43%;
    left: 43%;
    padding: 15px 40px;
    border-radius: 20px;
    border: none;
    background-color: #1e4844;
    color: #fff;
    font-size: 25px;
    cursor: pointer;
}

.newbie {
    position: absolute;
    top: 50%;
    left: 48.7%;
    transform: translateX(-50%);
    margin-left: 12px;
}

.register-ask {
    color: #fff;
    font-size: 20px
}

.register {
    color: #b1e53c;
    cursor: pointer;
    font-size: 20px
}

.quantity-slogan {
    position: absolute;
    left: 100px;
    top: 650px;
}

.quantity {
    font-size: 35px;
    background-color: #b1e53c;
    padding: 20px 40px;
    color: #254e47;
}

.slogan {
    margin-left: 90px;
    margin-top: 20px;
    font-size: 25px;
    color: #fff;
    text-decoration: underline;
    left: 85%;
}

.logo {
    position: absolute;
    top: 50%;
    right: 150px;
}

.logo-img {
    width: 100%;
}


/* Css form login */
.wrap {
    position: relative;
}

.background-login-img {
    width: 100%;
}

.form-login {
    position: fixed;
    width: 500px;
    background-color: #fff;
    top: calc(50% - 300px);
    left: 50%;
    transform: translateX(-50%);
    border-radius: 20px;
    padding: 30px 28px;
}

.header-login-heading {
    text-align: center;
    font-weight: 500;
    margin-bottom: 30px;
}

.space {
    width: 12px;
    display: inline-block;
}

.form-login-switch-login {
    color: #000;
    font-weight: 600;
    font-size: 20px;
}

.form-login-switch-register {
    color: #ccc;
    font-weight: 600;
    font-size: 20px;
    text-decoration: none;
}

.form-login-socials {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
    padding-bottom: 40px;
}

.fa-facebook {
    color: #fff;
    font-size: 40px;
    margin-right: 20px;
}

.fa-google {
    font-size: 40px;
    background: conic-gradient(from -45deg, #ea4335 110deg, #4285f4 90deg 180deg, #34a853 180deg 270deg, #fbbc05 270deg) 73% 55%/150% 150% no-repeat;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
    margin-right: 30px;
}

.button-social {
    padding: 4px 8px;
    font-size: 20px;
    text-decoration: none;
    display: flex;
    border-radius: 30px;
    align-items: center;
    min-width: 200px;
    text-align: center;
}

.form-login-socials-facebook {
    background-color: #1877f2;
    color: #fff;
}

.form-login-socials-google {
    background-color: #dfdede;
    color: #000;
}

.border {
    border-bottom: 1px solid #000;
    margin: 0 -28px;
}

.number-login {
    margin-top: 12px;
    font-weight: 600;
}

.fa-star {
    color: #ffff00;
    font-size: 12px;
    padding: 4px 8px;
    border-radius: 3px;
    margin-right: 2px;
    background-color: red;
}

.number-login-text {
    display: block;
    margin-bottom: 35px;
}

.number-login-flag {
    display: inline-flex;
    position: relative;
    padding: 10px 12px;
    background-color: #bfbcbc;
    align-items: center;
}

.number-login-input {
    display: inline-block;
    margin-left: 12px;
}

.number-login-input-valid {
    font-size: 18px;
    padding: 12px 0;
    width: 340px;
    border: none;
    outline: none;
    padding: 12px 0;
    border-bottom: 1px solid #000;
}

.btn-login {
    width: 100%;
    margin-bottom: 70px;
}

.btn-login-link {
    width: 70%;
    display: block;
    text-align: center;
    border-radius: 16px;
    font-size: 26px;
    font-weight: 550;
    border: none;
    background-color: #1e4844;
    text-decoration: none;
    color: #fff;
    margin: 70px auto 0 auto;
    padding: 12px 0;
}

/* Css form register */
.register-input-label {
    display: block;
    font-size: 16px;
    font-weight: 500;
    margin: 8px 0;
}

.register-input-valid {
    display: block;
    width: 100%;
    font-size: 16px;
    padding: 12px 0;
    outline: none;
    border-radius: 8px;
}

.form-login-policy {
    margin-top: -0px;
    text-align: center;
}

/* Css home page */
.main {
    background-image: url('../img/background1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    color: #000000;
}

.main__header {
    display: flex;
    height: 166px;
    justify-content: space-between;
}

.main__header-logo {
    left:100px;
    width: 80px;
}


.main__header-logo-img {
    width: 150px;
}

.main__header-navbar {
    height: 90px;
}

.main__header-navbar-list {
    display: flex;
    background-color: #52726f;
    align-items: center;
}

.main__header-navbar-item {
    list-style: none;
    color: #fff;
    padding: 30px 60px;
    font-size: 20px;
    position: relative;
}

    .main__header-navbar-item:hover .main__header-navbar-sub-list {
        display: block;
    }

.main__header-navbar-btn {
    margin-right: 50px;
    background-color: #fff;
    border-radius: 40px;
}

    .main__header-navbar-btn a {
        color: #1E4844;
        font-weight: 500;
        text-decoration: none;
    }

.main__header-navbar-icon {
    font-size: 10px;
}

.main__header-navbar-sub-list {
    position: absolute;
    left: 30px;
    top: 100%;
    list-style: none;
    min-width: 240px;
    background-color: #000;
    display: none;
}

.main__header-navbar-sub-item {
    font-size: 20px;
    padding: 30px 0 30px 12px;
}

.main__body {
    display: flex;
    align-items: center;
    margin-top: 100px;
    justify-content: space-around;
    height: 200px;
}

.main__body-target {
    display: flex;
    width: 15%;
    flex-direction: column;
    text-align: center;
}

.main__body-img {
    margin-bottom: 20px;
}

    .main__body-img img {
        width: 100px;
    }

.main__body-text {
    color: #fff;
    font-weight: 600;
}

.main__footer {
    height: 200px;
    color: #fff;
    position: relative;
}

.main__footer-text {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    font-size: 26px;
}

/* Css form new order */
.form__order-background-img {
    width: 100%;
    position: relative;
}

.form__order-menu {
    position: fixed;
    display: flex;
    width: 50px;
    flex-direction: column;
    align-items: center;
    top: 0px;
    bottom: 0px;
    left: 0px;
    background-color: #1e4844;
}

.form__order-menu-icon {
    color: #fff;
    font-size: 20px;
    padding: 30px 0;
    cursor: pointer;
}

.form__order-profile {
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0;
    color: #fff;
    width: 200px;
    background-color: #1e4844;
    display: none;
}

.form__order-profile-information {
    display: flex;
    align-items: center;
    padding-bottom: 8px;
    border-bottom: 1px solid #fff;
}

.form__order-profile-avt {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 8px;
    background-color: #fff;
}

.form__order-profile-more {
    font-size: 16px;
}

.form__order-profile-name {
    margin: 8px 0;
}

.form__order-profile-btn {
    font-size: 16px;
    cursor: pointer;
}

.form__order-profile-btn--active {
    background-color: #ccc;
}

.form__order-menu-icon {
    margin: 0 12px;
}

.form__order-back-btn {
    position: fixed;
    top: 8px;
    left: 220px;
    font-size: 30px;
    display: none;
}

.fa-arrow-left {
    cursor: pointer;
}

#checkbox:checked ~ .form__order-profile,
#checkbox:checked ~ .form__order-back-btn {
    display: block;
}

#form:checked ~ .form__order-left,
#form:checked ~ .form__order-right {
    display: none;
}

#form:checked ~ .form__order-main {
    display: block;
}

#checkbox:checked ~ .form__order-menu {
    display: none;
}

.form__order-header {
    position: fixed;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
}

.form__order-header-text {
    text-decoration: underline;
    color: #fff;
    letter-spacing: 3px;
}

.form__order-logo {
    position: absolute;
    top: 0;
    right: 0;
}

.form__order-logo-img {
    width: 150px;
}

.form__order-left {
    position: fixed;
    left: 300px;
    top: 140px;
}

.form__order-left-header {
    color: #fff;
    font-weight: 400;
    margin: 12px 0;
}

.form__order-left-form {
    margin-top: 30px;
    color: #fff;
    width: 350px;
}

.form__order-left-label {
    display: block;
    font-size: 16px;
}

.form__order-left-input {
    display: block;
    width: 100%;
    font-size: 16px;
    margin: 14px 0;
    padding: 10px 0;
    outline: none;
    border: 1px solid #ccc;
    border-radius: 8px;
}

.form__order-left-name-receive {
    font-size: 16px;
    margin-right: 46px;
}

.form__order-left-number {
    font-size: 16px;
}

.form__order-left-name-received {
    width: 26%;
    font-size: 16px;
    padding: 10px 0;
    outline: none;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin: 14px 0;
}

.form__order-left-numbers {
    font-size: 16px;
    padding: 10px 0;
    outline: none;
    float: right;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin: 14px 0;
}

.form__order-left-kind-product {
    font-size: 16px;
}

.form__order-left-product {
    width: 26%;
    font-size: 16px;
    padding: 10px 0;
    outline: none;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-top: 14px;
    margin-right: 30px;
}

.form__order-left-note {
    font-size: 16px;
}

.form__order-left-note-text {
    font-size: 16px;
    width: 150px;
    height: 70px;
    margin-top: -40px;
    border-radius: 8px;
    outline: none;
    float: right;
    border: 1px solid #ccc;
    transform: translateY(+50%)
}

.form__order-right {
    position: fixed;
    right: 300px;
    top: 245px;
}

.form__order-right-form {
    color: #fff;
    width: 350px;
}

.form__order-right-btn {
    background-color: #1e4844;
    display: inline-block;
    color: #fff;
    border: none;
    outline: none;
    font-weight: 600;
    font-size: 16px;
    margin: 40px 0 0 100px;
    padding: 10px 26px;
    cursor: pointer;
    border-radius: 8px;
}

.form__order-main {
    position: absolute;
    top: 200px;
    left: 50%;
    display: none;
    transform: translateX(-50%);
}

.form__order-main {
    font-size: 16px;
    color: #fff;
}

.form__order-main-label {
    display: block;
}

.form__order-main-input {
    display: block;
    font-size: 16px;
    width: 100%;
    padding: 10px 0;
    outline: none;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin: 8px 0;
}

.form__order-main-time {
    margin-right: 38px;
}

.form__order-main-times {
    font-size: 16px;
    width: 49%;
    color: rgba(0, 0, 0, 0.5);
    text-align: center;
    padding: 9px 0;
    outline: none;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin: 8px 0;
}

.form__order-main-vouchers {
    font-size: 16px;
    width: 49%;
    padding: 10px 0;
    outline: none;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin: 8px 0;
}

.form__order-main-banking {
    display: block;
}

.form__order-main-bankings {
    display: block;
    font-size: 16px;
    width: 100%;
    padding: 10px 0;
    outline: none;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin: 8px 0;
}

.form__order-main-sum_money {
    float: right;
    color: #000;
    margin-top: 20px;
}

.form__order-main-order-btn {
    background-color: #1e4844;
    width: 85%;
    color: #fff;
    border: none;
    outline: none;
    font-weight: 600;
    font-size: 16px;
    margin: 40px 0 0 20px;
    padding: 10px 26px;
    cursor: pointer;
    border-radius: 8px;
}
