
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Đăng nhập</title>
    <link rel="stylesheet" href="~/Content/css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/Content/all.min.css">
</head>
<body>
    <div class="wrap">
        <img src="~/Content/img/background-login.jpg" alt="" class="background-login-img">

        <div class="overlay"></div>

        <div class="form-login">
            <header class="header-login">
                <h1 class="header-login-heading">AHAHA</h1>
            </header>

            <div class="form-login-switch">
                <a href="#" class="form-login-switch-login">Đăng nhập</a>
                <div class="space"></div>
                <a href="./register.html" class="form-login-switch-register">Đăng ký</a>
            </div>

            <div class="form-login-socials">
                <a href="" class="button-social form-login-socials-facebook">
                    <i class="fa-brands fa-facebook"></i>
                    Facebook
                </a>
                <a href="" class="button-social form-login-socials-google">
                    <i class="fa-brands fa-google"></i>
                    Google
                </a>
            </div>

            <div class="border"></div>

            <div class="number-login">
                <span class="number-login-text">Hoặc bằng số điện thoại</span>
                <div class="number-login-flag">
                    <i class="fa-solid fa-star"></i>
                    +84
                </div>
                <div class="number-login-input">
                    <input type="text" class="number-login-input-valid">
                </div>
            </div>

            <div class="btn-login">
                <a href="" class="btn-login-link">Đăng nhập</a>
            </div>
        </div>
    </div>
</body>
</html>

