<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ahaha</title>
    <link rel="stylesheet" href="~/Content/css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div class="background">
            <img src="~/Content/img/background1.jpg" alt="" class="background__img">
            <div class="overlay"></div>
            <header class="header">
                <h1 class="header__heading">
                    ỨNG DỤNG GIAO HÀNG<br>SIÊU AN TOÀN - GIAO THẦN TỐC
                </h1>
            </header>
            <div class="body">
                <button class="login-btn">ĐĂNG NHẬP</button>
                <div class="newbie">
                    <span class="register-ask">Bạn là người mới?</span>
                    <span class="register">Đăng kí ngay!</span>
                </div>
                    
                <div class="logo">
                    <img src="~/Content/img/logo.png" alt="" class="logo-img">
                </div>
            </div>
        </div>
    </div>
    <div>@RenderBody()</div>
</body>
</html>